:root {
  --primary-color: #a82c48;
  --secondry-color: #43121d;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondry-font: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
  background-color: #f9f9f9;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: var(--secondry-color);
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  color: var(--secondry-color);
  line-height: 3rem;
}

h4 {
  color: var(--secondry-color);
  font-family: var(--secondry-font);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

h5 {
  color: var(--black-color);
  text-transform: capitalize;
  font-family: var(--secondry-font);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

#home-icon,
#menu-icon,
#login-icon,
#star-icon,
#sobre-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

header,
.navbar {
  background-color: #eeeeee !important;
}

.logo-img {
  width: 125px;
  border-radius: 50%;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  gap: 20px;
}

.navbar a {
  color: black;
  transition: color 0.3s ease;
}

.navbar a:active,
.navbar a:focus {
  color: white;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: normal;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: black;
  transition: width 0.5s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-link:hover {
  color: var(--black-color) !important;
}

.carousel-indicators li {
  display: none;
}

.carousel-img {
  width: 60%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

#about-us {
  background-color: var(--white-color);
}

#about-us h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--secondry-color);
}

#about-us p {
  font-size: 1.125rem;
  color: var(--text-color);
  line-height: 1.75rem;
}

#about-us img {
  max-height: 400px;
  object-fit: cover;
}

.img-fluid {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  color: var(--secondry-color);
  font-family: var(--secondry-font);
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.5;
}

.menu-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menu-item p {
  font-size: 0.92rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
  margin: 0 auto;
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 200px;
  object-fit: cover;
}

.menu-item h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardapio-background {
  background-color: #f9f9f9;
}

main h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-group .btn {
  flex: 1;
  margin: 0 0.5rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  height: 36px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  height: 36px;
}

.btn-primary:hover,
.btn-danger:hover {
  opacity: 0.9;
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
}

.table th {
  background-color: #f2f2f2;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

footer {
  display: flex;
  justify-content: end;
  background-color: #7a7d7b !important;
  padding: 1rem;
  margin-top: auto;
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center !important;
  width: 100%;
}

.main-footer p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

/* Estilos da esquerda */

.main-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 100vh;
  padding: 20px;
}

.cadastro-container {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 90vw;
  max-width: 1400px;
}

.left-side {
  background-image: url("/assets/img/rest-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right-side {
  width: 50%;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.form-container {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-label {
  color: #333;
}

.container-rounded {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-container {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .logo-img {
    width: 120px;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
  }

  #star-icon {
    width: 18px;
  }
}

@media (max-width: 480px) {
  .logo-img {
    width: 100px;
  }

  .navbar-toggler {
    padding: 0.5rem 1rem;
  }

  #star-icon {
    width: 16px;
  }
}
